Find how many times each artist appeared on the Spotify ranking list
Output the artist name along with the corresponding number of occurrences.
Order records by the number of occurrences in descending order.

In [1]:
import pandas as pd
import numpy as np

In [2]:
spotify_worldwide_daily_song_ranking = pd.read_csv('CSV/spotify_worldwide_daily_song_ranking.csv')
spotify_worldwide_daily_song_ranking.head()

,id,position,trackname,artist,streams,url,date,region
0,303651,52,Heart Won't Forget,Matoma,28047,https://open.spotify.com/track/2of2DM5LqTh7ohm...,2017-02-04,no
1,85559,160,"Someone In The Crowd - From ""La La Land"" Sound...",Emma Stone,17134,https://open.spotify.com/track/7xE4vKvjqUTtHyJ...,2017-02-26,fr
2,1046089,175,The Greatest,Sia,10060,https://open.spotify.com/track/7xHWNBFm6ObGEQP...,2017-03-06,cl
3,350824,25,Unforgettable,French Montana,46603,https://open.spotify.com/track/3B54sVLJ402zGa6...,2017-10-01,no
4,776822,1,Bad and Boujee (feat. Lil Uzi Vert),Migos,1823391,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2017-01-27,us

In [3]:
result = spotify_worldwide_daily_song_ranking.groupby(['artist']).size().to_frame('n_occurences').reset_index().sort_values('n_occurences', ascending = False)
result

              artist  n_occurences
37    Kendrick Lamar             9
18        Ed Sheeran             5
64               Sia             2
45     Manuel Turizo             2
49            Matoma             2
..               ...           ...
24           Extreme             1
23        Ermal Meta             1
22         Eric Chou             1
21        Enzo Ortiz             1
36  Katharine McPhee             1

[73 rows x 2 columns]

Solution Walkthrough
This solution is aimed at finding the number of times each artist appeared on the Spotify ranking list and outputting the artist name along with the corresponding number of occurrences. The records should be ordered by the number of occurrences in descending order.

Understanding The Data
The data consists of a table named spotify_worldwide_daily_song_ranking that likely contains information about daily song rankings on Spotify. It is assumed that this table has columns such as 'artist', 'song', 'rank', and 'date'. The 'artist' column is of particular interest for this task.

The Problem Statement
The problem is to count the number of times each artist appears in the spotify_worldwide_daily_song_ranking table and sort the results in descending order based on the number of occurrences. The output should include the artist name along with the corresponding number of occurrences.

Breaking Down The Code
The given code is a complete solution that achieves the desired outcome. Let's break it down and understand it step by step:

import pandas as pd
import numpy as np

# There's likely a dataframe named 'spotify_worldwide_daily_song_ranking' containing the necessary data

result = (
    spotify_worldwide_daily_song_ranking.groupby(["artist"])
    .size()
    .to_frame("n_occurences")
    .reset_index()
    .sort_values("n_occurences", ascending=False)
)
We start by importing the pandas and numpy libraries, which are commonly used for data manipulation and analysis.
spotify_worldwide_daily_song_ranking.groupby(['artist']).size() groups the rows of the dataframe by the 'artist' column and calculates the size, i.e., the number of occurrences, for each group.
.to_frame('n_occurences') converts the resulting series of group sizes to a dataframe, with 'n_occurences' as the column name.
.reset_index() resets the index of the dataframe, so that the 'artist' column becomes a regular column instead of the index.
.sort_values('n_occurences', ascending = False) sorts the dataframe based on the 'n_occurences' column in descending order.
Bringing It All Together
The given code takes the spotify_worldwide_daily_song_ranking dataframe, groups it by the 'artist' column, calculates the occurrence count for each artist, converts it to a dataframe, resets the index, and sorts it in descending order based on the number of occurrences. The resulting dataframe is stored in the result variable.

Conclusion
The code successfully solves the problem of finding the number of times each artist appeared on the Spotify ranking list, outputting the artist name along with the corresponding number of occurrences, and ordering the records by the number of occurrences in descending order.