Find the most profitable company in the financial sector of the entire world along with its continent

Find the most profitable company from the financial sector. Output the result along with the continent.

In [1]:
import pandas as pd
import numpy as np

In [3]:
forbes_global_2010_2014 = pd.read_csv("CSV/forbes_global_2010_2014.csv")
forbes_global_2010_2014.head(3)

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...

In [4]:
finance_sector = forbes_global_2010_2014[forbes_global_2010_2014['sector']== 'Financials']
finance_sector.head(3)

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...

In [5]:
finance_sector['rank'] = finance_sector['profits'].rank(method='min', ascending=False)
finance_sector.head(3)

/var/folders/8j/skd2y7rd5k752cwx0v97h73c0000gn/T/ipykernel_93158/612694930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finance_sector['rank'] = finance_sector['profits'].rank(method='min', ascending=False)

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1.0,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2.0,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3.0,http://www.forbes.com/companies/agricultural-b...

In [6]:
result = finance_sector[finance_sector['rank'] == 1][['company','continent']]
result

  company continent
0    ICBC      Asia

Solution Walkthrough
This solution aims to find the most profitable company in the financial sector and output the result along with the continent. The given code accomplishes this by filtering the data for the financial sector, calculating the rank of each company based on profits, and then selecting the company with the highest rank.

Understanding The Data
The data used in this solution is stored in a pandas DataFrame called forbes_global_2010_2014. This DataFrame contains information about various companies, including their sector, profits, company name, and continent. The sector column represents the sector to which each company belongs, while the profits column represents the profit earned by each company.

The Problem Statement
The problem statement is to find the most profitable company from the financial sector and output the result along with the continent. In other words, we need to filter the data for companies in the financial sector, calculate the rank of each company based on profits, and then select the company with the highest rank.

Breaking Down The Code
Let's break down the given code step by step:

import pandas as pd and import numpy as np: These lines import the pandas and numpy libraries, which are used for data manipulation and analysis.

finance_sector = forbes_global_2010_2014[forbes_global_2010_2014['sector']== 'Financials']: This line filters the forbes_global_2010_2014 DataFrame to include only the rows where the sector column is equal to 'Financials'. The resulting DataFrame is stored in the variable finance_sector.

finance_sector['rank'] = finance_sector['profits'].rank(method='min', ascending=False): This line calculates the rank of each company in the finance_sector DataFrame based on their profits. The rank column is added to the DataFrame using the rank function from pandas. The method='min' argument is used to assign the same rank to companies with the same profit, and the ascending=False argument is used to rank the companies in descending order.

result = finance_sector[finance_sector['rank'] == 1][['company','continent']]: This line selects the rows from the finance_sector DataFrame where the rank column is equal to 1. It then selects only the columns 'company' and 'continent' from those rows. The resulting DataFrame is stored in the variable result.

Bringing It All Together
The given code first filters the forbes_global_2010_2014 DataFrame to include only the rows where the sector column is equal to 'Financials'. It then calculates the rank of each company in the financial sector based on their profits and adds the rank to the finance_sector DataFrame. Finally, it selects the company with the highest rank (rank=1) from the finance_sector DataFrame and outputs the company name and continent.

Conclusion
The given code successfully finds the most profitable company from the financial sector and outputs the result along with the continent.