Count the number of user events performed by MacBookPro users

Count the number of user events performed by MacBookPro users.
Output the result along with the event name.
Sort the result based on the event count in the descending order.

In [1]:
import pandas as pd
import numpy as np

In [3]:
playbook_events = pd.read_csv("CSV/playbook_events.csv")
playbook_events = playbook_events.iloc[:, :6]
playbook_events.head(3)

,user_id,occurred_at,event_type,event_name,location,device
0,6991,2014-06-09 18:26:54,engagement,home_page,United States,iphone 5
1,18851,2014-08-29 13:18:38,signup_flow,enter_info,Russia,asus chromebook
2,14998,2014-07-01 12:47:56,engagement,login,France,hp pavilion desktop

In [5]:
macbook_device = playbook_events[playbook_events['device']=='macbook pro']
macbook_device.head()

,user_id,occurred_at,event_type,event_name,location,device
3,8186,2014-05-23 10:44:16,engagement,home_page,Italy,macbook pro
8,8708,2014-05-26 10:42:12,engagement,send_message,Australia,macbook pro
10,12725,2014-06-17 08:03:49,engagement,home_page,Brazil,macbook pro
11,14014,2014-07-06 16:24:43,engagement,view_inbox,Japan,macbook pro
20,10061,2014-08-18 09:32:46,engagement,view_inbox,Spain,macbook pro

In [6]:
result = macbook_device.groupby(['event_name']).size().to_frame('size').reset_index().sort_values(
                                ['size'], ascending= False).rename(columns={"size": "event_count"})

In [7]:
result

            event_name  event_count
0            home_page            8
1         like_message            3
2                login            3
3  search_autocomplete            3
5           view_inbox            3
4         send_message            1

Solution Walkthrough
In this walkthrough, we will be exploring a piece of code that uses the pandas and numpy libraries to count the number of user events performed by MacBook Pro users, and output the result along with the event name. The final result will be sorted based on the event count in descending order.

We will go through the code step-by-step, explaining the data, the problem statement, and breaking down the code to understand how it works.

Understanding The Data
Before we start, let's understand the data we are working with. The code assumes that there is a DataFrame called playbook_events containing information about user events, such as the device used and the event name.

The Problem Statement
The problem statement asks us to count the number of user events performed by MacBook Pro users, and output the result along with the event name. Additionally, we need to sort the result based on the event count in descending order.

Breaking Down The Code
Let's break down the code step-by-step to understand what each line does:

import pandas as pd and import numpy as np - Import the pandas and numpy libraries so we can use their functionalities.

macbook_device = playbook_events[playbook_events['device']=='macbook pro'] - Create a new DataFrame called macbook_device by filtering the playbook_events DataFrame to only include rows where the value in the 'device' column is equal to 'macbook pro'. This will give us a DataFrame containing events performed by MacBook Pro users.

result = macbook_device.groupby(['event_name']).size().to_frame('size').reset_index().sort_values(['size'], ascending= False).rename(columns={"size": "event_count"}) - Calculate the count of each event performed by MacBook Pro users.

groupby(['event_name']).size() groups the DataFrame by the 'event_name' column and calculates the size (count) of each group.
to_frame('size') converts the resulting Series into a DataFrame and names the column 'size'.
reset_index() resets the index of the DataFrame, which is necessary to sort the DataFrame later.
sort_values(['size'], ascending= False) sorts the DataFrame based on the 'size' column in descending order.
rename(columns={"size": "event_count"}) renames the 'size' column to 'event_count' for better readability.
The final result is stored in the result DataFrame, which contains the event name and its corresponding count grouped by MacBook Pro users.

Bringing It All Together
To summarize the code, we import the necessary libraries, filter the playbook_events DataFrame to only include MacBook Pro users' events, and calculate the count of each event. Finally, we sort the result based on the event count in descending order.

Conclusion
In this walkthrough, we have explored a solution to count the number of user events performed by MacBook Pro users, outputting the result along with the event name. We have broken down the code, explained its various parts, and understood the overall process.