In [1]:
import pandas as pd

In [2]:
# Создаем пример DataFrame
data = {'group': ['A', 'B', 'A', 'B', 'A', 'A', 'B'],
        'value': [1, 2, 3, 4, 5, 6, 7]}
df = pd.DataFrame(data)
df

  group  value
0     A      1
1     B      2
2     A      3
3     B      4
4     A      5
5     A      6
6     B      7

In [3]:
# Группируем по столбцу 'group' и используем size()
grouped_df = df.groupby('group').size().reset_index(name='count')

print(grouped_df)

  group  count
0     A      4
1     B      3