Marketing Campaign Success [Advanced]

You have a table of in-app purchases by user. Users that make their first in-app purchase are placed in a marketing campaign where they see call-to-actions for more in-app purchases. Find the number of users that made additional in-app purchases due to the success of the marketing campaign.


The marketing campaign doesn't start until one day after the initial in-app purchase so users that only made one or multiple purchases on the first day do not count, nor do we count users that over time purchase only the products they purchased on the first day.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
marketing_campaign = pd.read_csv("../CSV/marketing_campaign.csv", usecols=[0,1,2,3,4])
marketing_campaign.head()

   user_id  created_at  product_id  quantity  price
0       10  2019-01-01         101         3     55
1       10  2019-01-02         119         5     29
2       10  2019-03-31         111         2    149
3       11  2019-01-02         105         3    234
4       11  2019-03-31         120         3     99

# users who meet campaign criteria

In [7]:
users_impacted_by_campaign = marketing_campaign.groupby('user_id')[['created_at', 'product_id']].nunique().add_prefix(
    'cnt_').reset_index()
users_impacted_by_campaign.head()

   user_id  cnt_created_at  cnt_product_id
0       10               3               3
1       11               2               2
2       12               2               2
3       13               2               2
4       14               2               3

In [9]:
users_impacted_by_campaign = users_impacted_by_campaign[
    (users_impacted_by_campaign["cnt_created_at"] > 1) & (users_impacted_by_campaign["cnt_product_id"] > 1)]

users_impacted_by_campaign.head()

   user_id  cnt_created_at  cnt_product_id
0       10               3               3
1       11               2               2
2       12               2               2
3       13               2               2
4       14               2               3

# #products not meeting the campaign criteria

In [10]:
marketing_campaign['user_product'] = marketing_campaign['user_id'].map(str) + "_" + marketing_campaign[
    'product_id'].map(str)

marketing_campaign.head()

   user_id  created_at  product_id  quantity  price user_product
0       10  2019-01-01         101         3     55       10_101
1       10  2019-01-02         119         5     29       10_119
2       10  2019-03-31         111         2    149       10_111
3       11  2019-01-02         105         3    234       11_105
4       11  2019-03-31         120         3     99       11_120

In [11]:
marketing_campaign['created_at'] = pd.to_datetime(marketing_campaign['created_at'])
marketing_campaign.head()

   user_id created_at  product_id  quantity  price user_product
0       10 2019-01-01         101         3     55       10_101
1       10 2019-01-02         119         5     29       10_119
2       10 2019-03-31         111         2    149       10_111
3       11 2019-01-02         105         3    234       11_105
4       11 2019-03-31         120         3     99       11_120

In [14]:
marketing_campaign['first_order'] = marketing_campaign.groupby('user_id')['created_at'].transform('min')
marketing_campaign

     user_id created_at  product_id  quantity  price user_product first_order
0         10 2019-01-01         101         3     55       10_101  2019-01-01
1         10 2019-01-02         119         5     29       10_119  2019-01-01
2         10 2019-03-31         111         2    149       10_111  2019-01-01
3         11 2019-01-02         105         3    234       11_105  2019-01-02
4         11 2019-03-31         120         3     99       11_120  2019-01-02
..       ...        ...         ...       ...    ...          ...         ...
97        63 2019-03-27         120         5     99       63_120  2019-03-27
98        64 2019-03-27         105         3    234       64_105  2019-03-27
99        65 2019-03-27         103         4     79       65_103  2019-03-27
100       66 2019-03-31         107         2     27       66_107  2019-03-31
101       67 2019-03-31         102         5     82       67_102  2019-03-31

[102 rows x 7 columns]

In [17]:
first_order = marketing_campaign[marketing_campaign['created_at'] == marketing_campaign['first_order']]
first_order

     user_id created_at  product_id  quantity  price user_product first_order
0         10 2019-01-01         101         3     55       10_101  2019-01-01
3         11 2019-01-02         105         3    234       11_105  2019-01-02
5         12 2019-01-02         112         2    200       12_112  2019-01-02
7         13 2019-01-05         113         1     67       13_113  2019-01-05
9         14 2019-01-06         109         5    199       14_109  2019-01-06
..       ...        ...         ...       ...    ...          ...         ...
97        63 2019-03-27         120         5     99       63_120  2019-03-27
98        64 2019-03-27         105         3    234       64_105  2019-03-27
99        65 2019-03-27         103         4     79       65_103  2019-03-27
100       66 2019-03-31         107         2     27       66_107  2019-03-31
101       67 2019-03-31         102         5     82       67_102  2019-03-31

[66 rows x 7 columns]

In [20]:
result = marketing_campaign[(marketing_campaign['user_id'].isin(users_impacted_by_campaign['user_id']))] #& (
    #~marketing_campaign['user_product'].isin(first_order['user_product']))]['user_id'].nunique()
result

    user_id created_at  product_id  quantity  price user_product first_order
0        10 2019-01-01         101         3     55       10_101  2019-01-01
1        10 2019-01-02         119         5     29       10_119  2019-01-01
2        10 2019-03-31         111         2    149       10_111  2019-01-01
3        11 2019-01-02         105         3    234       11_105  2019-01-02
4        11 2019-03-31         120         3     99       11_120  2019-01-02
5        12 2019-01-02         112         2    200       12_112  2019-01-02
6        12 2019-03-31         110         2    299       12_110  2019-01-02
7        13 2019-01-05         113         1     67       13_113  2019-01-05
8        13 2019-03-31         118         3     35       13_118  2019-01-05
9        14 2019-01-06         109         5    199       14_109  2019-01-06
10       14 2019-01-06         107         2     27       14_107  2019-01-06
11       14 2019-03-31         112         3    200       14_112  2019-01-06
12       15 2019-01-08         105         4    234       15_105  2019-01-08
13       15 2019-01-09         110         4    299       15_110  2019-01-08
14       15 2019-03-31         116         2    499       15_116  2019-01-08
15       16 2019-01-10         113         2     67       16_113  2019-01-10
16       16 2019-03-31         107         4     27       16_107  2019-01-10
17       17 2019-01-11         116         2    499       17_116  2019-01-11
18       17 2019-03-31         104         1    154       17_104  2019-01-11
23       21 2019-01-16         105         3    234       21_105  2019-01-16
24       21 2019-01-17         114         4    248       21_114  2019-01-16
25       22 2019-01-18         113         3     67       22_113  2019-01-18
26       22 2019-01-19         118         4     35       22_118  2019-01-18
29       25 2019-01-22         114         2    248       25_114  2019-01-22
30       25 2019-01-22         115         2     72       25_115  2019-01-22
31       25 2019-01-24         114         5    248       25_114  2019-01-22
32       25 2019-01-27         115         1     72       25_115  2019-01-22
50       43 2019-02-11         102         1     82       43_102  2019-02-11
51       43 2019-03-05         104         3    154       43_104  2019-02-11
52       44 2019-02-12         105         3    234       44_105  2019-02-12
53       44 2019-03-05         102         4     82       44_102  2019-02-12
54       45 2019-02-13         119         5     29       45_119  2019-02-13
55       45 2019-03-05         105         3    234       45_105  2019-02-13
56       46 2019-02-14         102         4     82       46_102  2019-02-14
57       46 2019-02-14         102         5     29       46_102  2019-02-14
58       46 2019-03-09         102         2     35       46_102  2019-02-14
59       46 2019-03-10         103         1    199       46_103  2019-02-14
60       46 2019-03-11         103         1    199       46_103  2019-02-14
61       47 2019-02-14         110         2    299       47_110  2019-02-14
62       47 2019-03-11         105         5    234       47_105  2019-02-14
63       48 2019-02-14         115         4     72       48_115  2019-02-14
64       48 2019-03-12         105         3    234       48_105  2019-02-14
73       51 2019-02-21         120         2     99       51_120  2019-02-21
74       51 2019-03-13         108         4    120       51_108  2019-02-21
75       52 2019-02-23         117         2    999       52_117  2019-02-23
76       52 2019-03-18         112         5    200       52_112  2019-02-23
77       53 2019-02-24         120         4     99       53_120  2019-02-24
78       53 2019-03-19         105         5    234       53_105  2019-02-24
79       54 2019-02-25         119         4     29       54_119  2019-02-25
80       54 2019-03-20         110         1    299       54_110  2019-02-25
83       56 2019-02-27         115         2     72       56_115  2019-02-27
84       56 2019-03-20         116         2    499       56_116  2019-02-27
85       57 2019-02-28         105         4    234       57_105  2019-02-28
86       57 2019-02-28         106         1    123       57_106  2019-02-28
87       57 2019-03-20         108         1    120       57_108  2019-02-28
88       57 2019-03-20         103         1     79       57_103  2019-02-28
89       58 2019-02-28         104         1    154       58_104  2019-02-28
90       58 2019-03-01         101         3     55       58_101  2019-02-28
91       58 2019-03-02         119         2     29       58_119  2019-02-28
92       58 2019-03-25         102         2     82       58_102  2019-02-28

In [22]:
res = result[(~marketing_campaign['user_product'].isin(first_order['user_product']))]#['user_id'].nunique()
res

/var/folders/8j/skd2y7rd5k752cwx0v97h73c0000gn/T/ipykernel_45925/2778044169.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  res = result[(~marketing_campaign['user_product'].isin(first_order['user_product']))]#['user_id'].nunique()

    user_id created_at  product_id  quantity  price user_product first_order
1        10 2019-01-02         119         5     29       10_119  2019-01-01
2        10 2019-03-31         111         2    149       10_111  2019-01-01
4        11 2019-03-31         120         3     99       11_120  2019-01-02
6        12 2019-03-31         110         2    299       12_110  2019-01-02
8        13 2019-03-31         118         3     35       13_118  2019-01-05
11       14 2019-03-31         112         3    200       14_112  2019-01-06
13       15 2019-01-09         110         4    299       15_110  2019-01-08
14       15 2019-03-31         116         2    499       15_116  2019-01-08
16       16 2019-03-31         107         4     27       16_107  2019-01-10
18       17 2019-03-31         104         1    154       17_104  2019-01-11
24       21 2019-01-17         114         4    248       21_114  2019-01-16
26       22 2019-01-19         118         4     35       22_118  2019-01-18
51       43 2019-03-05         104         3    154       43_104  2019-02-11
53       44 2019-03-05         102         4     82       44_102  2019-02-12
55       45 2019-03-05         105         3    234       45_105  2019-02-13
59       46 2019-03-10         103         1    199       46_103  2019-02-14
60       46 2019-03-11         103         1    199       46_103  2019-02-14
62       47 2019-03-11         105         5    234       47_105  2019-02-14
64       48 2019-03-12         105         3    234       48_105  2019-02-14
74       51 2019-03-13         108         4    120       51_108  2019-02-21
76       52 2019-03-18         112         5    200       52_112  2019-02-23
78       53 2019-03-19         105         5    234       53_105  2019-02-24
80       54 2019-03-20         110         1    299       54_110  2019-02-25
84       56 2019-03-20         116         2    499       56_116  2019-02-27
87       57 2019-03-20         108         1    120       57_108  2019-02-28
88       57 2019-03-20         103         1     79       57_103  2019-02-28
90       58 2019-03-01         101         3     55       58_101  2019-02-28
91       58 2019-03-02         119         2     29       58_119  2019-02-28
92       58 2019-03-25         102         2     82       58_102  2019-02-28

In [24]:
print(len(res))
print(res['user_id'].nunique())

29
23

Solution Walkthrough
This solution is aimed at finding the number of users who made additional in-app purchases due to the success of a marketing campaign. The marketing campaign starts one day after the initial in-app purchase, so users who made purchases only on the first day or only purchased the products they bought on the first day are excluded.

Understanding The Data
The data consists of a table that records in-app purchases made by users. It includes columns such as user_id, created_at (timestamp of the purchase), and product_id. We also have an additional column called user_product, which is a combination of user_id and product_id.

The Problem Statement
We need to identify the number of users who made additional in-app purchases due to the success of the marketing campaign. We need to exclude users who made purchases only on the first day and users who only purchased the products they bought on the first day.

Breaking Down The Code
Import the necessary libraries:

pandas as pd: This library is used for data manipulation and analysis.
numpy as np: This library is used for mathematical operations on arrays and matrices.
datetime from datetime: This class is used for working with dates and times.
Group the data by user_id and get the count of unique values for created_at and product_id columns. Prefix the column names with "cnt_" and reset the index:

users_impacted_by_campaign = marketing_campaign.groupby('user_id')['created_at', 'product_id'].nunique().add_prefix('cnt_').reset_index()
Filter the users_impacted_by_campaign DataFrame to include only users who have more than 1 unique value for cnt_created_at and cnt_product_id:

users_impacted_by_campaign = users_impacted_by_campaign[(users_impacted_by_campaign["cnt_created_at"] > 1) & (users_impacted_by_campaign["cnt_product_id"] > 1)]
Merge the user_id and product_id columns to create a new column called user_product:

marketing_campaign['user_product'] = marketing_campaign['user_id'].map(str) + "_" + marketing_campaign['product_id'].map(str)
Convert the created_at column to datetime format:

marketing_campaign['created_at'] = pd.to_datetime(marketing_campaign['created_at'])
Find the earliest purchase date for each user using the groupby and transform functions:

marketing_campaign['first_order'] = marketing_campaign.groupby('user_id')['created_at'].transform('min')
first_order = marketing_campaign[marketing_campaign['created_at'] == marketing_campaign['first_order']]
Find the number of users who meet the criteria (users who are in users_impacted_by_campaign and not in first_order) using the isin and ~ operators:

result = marketing_campaign[(marketing_campaign['user_id'].isin(users_impacted_by_campaign['user_id'])) & (~marketing_campaign['user_product'].isin(first_order['user_product']))]['user_id'].nunique()
Bringing It All Together
The code first groups the data by user_id and calculates the count of unique values for created_at and product_id. It then filters the dataframe to include only users who have more than 1 unique value for cnt_created_at and cnt_product_id.

Next, it merges the user_id and product_id columns to create a new column called user_product. The created_at column is converted to datetime format and the earliest purchase date for each user is found using the groupby and transform functions.

Finally, the number of users who meet the criteria (users who are in users_impacted_by_campaign and not in first_order) is calculated and stored in the variable result.

Conclusion
The provided code successfully identifies the number of users who made additional in-app purchases due to the success of the marketing campaign, excluding users who made purchases only on the first day or only purchased the products they bought on the first day.