Share of Active Users

Output share of US users that are active. Active users are the ones with an "open" status in the table.

In [1]:
import pandas as pd

In [3]:
fb_active_users = pd.read_csv("CSV/fb_active_users.csv")
fb_active_users = fb_active_users.iloc[:, :4]
fb_active_users.head(3)

   user_id             name status     country
0       33      Amanda Leon   open   Australia
1       27  Jessica Farrell   open  Luxembourg
2       18    Wanda Ramirez   open         USA

In [4]:
result = fb_active_users[fb_active_users['country'] == 'USA'].groupby('status')['user_id'].count().to_frame('user_count')
result

        user_count
status
closed           3
open             3

In [5]:
result = result.loc['open'] / result['user_count'].sum()
result

user_count    0.5
Name: open, dtype: float64

Solution Walkthrough
This solution involves analyzing a dataset of Facebook users and calculating the share of active users in the United States. The code filters the dataset for users from the USA, groups them by status, and counts the number of users with each status. Finally, it calculates the share of active users by dividing the count of users with "open" status by the total number of users.

Understanding The Data
The dataset fb_active_users contains information about active Facebook users. Each row represents a single user and includes columns such as user_id, country, and status. The country column stores the country of each user, while the status column indicates the status of the user's Facebook account.

The Problem Statement
The goal of this code is to determine the share of active users in the United States. To accomplish this, we need to calculate the percentage of users with an "open" status compared to the total number of users from the USA.

Breaking Down The Code
Let's break down the code step by step:

result = (
    fb_active_users[fb_active_users["country"] == "USA"]
    .groupby("status")["user_id"]
    .count()
    .to_frame("user_count")
)
fb_active_users[fb_active_users['country'] == 'USA'] filters the fb_active_users dataframe to include only the rows where the country column is equal to 'USA'.
.groupby('status')['user_id'].count() groups the filtered dataframe by the status column and counts the number of unique user_id values for each status.
.to_frame('user_count') converts the resulting series into a dataframe with a column named 'user_count'. This step is optional but makes the code easier to read and understand.
result = result.loc["open"] / result["user_count"].sum()
result.loc['open'] retrieves the value in the 'open' row of the result dataframe. Since result has a single column named 'user_count', this will give us the count of users with an "open" status.
/ result['user_count'].sum() calculates the share of active users by dividing the count of users with "open" status by the sum of all user counts for all statuses.
Bringing It All Together
The code first filters the fb_active_users dataframe to include only the users from the USA. Then, it groups the filtered dataframe by status and counts the number of users with each status. This information is stored in the result dataframe. Finally, it calculates the share of active users by dividing the count of users with "open" status by the total number of users.

Conclusion
The code successfully calculates the share of active users in the United States based on the given dataset.