Count the number of movies that Abigail Breslin was nominated for an oscar.

In [1]:
import pandas as pd
import numpy as np

In [5]:
oscar_nominees = pd.read_csv("CSV/oscar_nominees.csv")
columns_to_drop = ['Unnamed: 6']
oscar_nominees = oscar_nominees.drop(columns=columns_to_drop)
oscar_nominees.head()

,year,category,nominee,movie,winner,id
0,2010,actor in a leading role,James Franco,127 Hours,False,648
1,2003,actor in a supporting role,Benicio Del Toro,21 Grams,False,139
2,2003,actress in a leading role,Naomi Watts,21 Grams,False,1119
3,2001,actress in a supporting role,Jennifer Connelly,A Beautiful Mind,True,710
4,2001,actor in a leading role,Russell Crowe,A Beautiful Mind,False,1315

In [6]:
nominee = oscar_nominees[oscar_nominees['nominee'] == 'Abigail Breslin']
nominee.head()

,year,category,nominee,movie,winner,id
123,2006,actress in a supporting role,Abigail Breslin,Little Miss Sunshine,False,1

In [10]:
result = nominee.groupby(["nominee", "movie"])['movie'].nunique()
result

nominee          movie
Abigail Breslin  Little Miss Sunshine    1
Name: movie, dtype: int64