Find all posts which were reacted to with a heart. For such posts output all columns from facebook_posts table.

DataFrames: facebook_reactions, facebook_postsExpected Output Type: pandas.DataFrame

In [1]:
import pandas as pd
import numpy as np

In [15]:
facebook_reactions = pd.read_csv("CSV/facebook_reactions.csv")
### var1 drop columns
#columns_to_drop = ['Unnamed: 5', 'Unnamed: 6']
#facebook_reactions = facebook_reactions.drop(columns=columns_to_drop)
### var2 drop columns
#facebook_reactions = facebook_reactions.drop(facebook_reactions.columns[[5, 6]], axis=1)
### var3 drop columns
facebook_reactions.drop(facebook_reactions.columns[[5, 6]], axis=1, inplace=True)
facebook_reactions.head()

   poster  friend reaction  date_day  post_id
0       2       1     like         1        0
1       2       6     like         1        0
2       1       2     like         1        1
3       1       3    heart         1        1
4       1       4     like         1        1

In [16]:
facebook_posts = pd.read_csv("CSV/facebook_posts.csv")
facebook_posts.drop(facebook_posts.columns[[5, 6]], axis=1, inplace=True)
facebook_posts.head()

,post_id,poster,post_text,post_keywords,post_date
0,0,2,The Lakers game from last night was great.,"[basketball,lakers,nba]",2019-01-01
1,1,1,Lebron James is top class.,"[basketball,lebron_james,nba]",2019-01-02
2,2,2,Asparagus tastes OK.,"[asparagus,food]",2019-01-01
3,3,1,Spaghetti is an Italian food.,"[spaghetti,food]",2019-01-02
4,4,3,User 3 is not sharing interests,[#spam#],2019-01-01

In [17]:
heart = facebook_reactions[facebook_reactions['reaction'] == 'heart'][['post_id']]
heart

   post_id
3        1
5        1

In [18]:
result = pd.merge(heart,facebook_posts,on='post_id').drop_duplicates(subset = 'post_id')
result

,post_id,poster,post_text,post_keywords,post_date
0,1,1,Lebron James is top class.,"[basketball,lebron_james,nba]",2019-01-02