Acceptance Rate By Date

What is the overall friend acceptance rate by date? Your output should have the rate of acceptances by the date the request was sent. Order by the earliest date to latest.


Assume that each friend request starts by a user sending (i.e., user_id_sender) a friend request to another user (i.e., user_id_receiver) that's logged in the table with action = 'sent'. If the request is accepted, the table logs action = 'accepted'. If the request is not accepted, no record of action = 'accepted' is logged.

In [1]:
import pandas as pd
import numpy as np

In [3]:
fb_friend_requests = pd.read_csv("../CSV/fb_friend_requests.csv")
fb_friend_requests = fb_friend_requests.iloc[:, :4]
fb_friend_requests

   user_id_sender user_id_receiver        date    action
0       ad4943sdz       948ksx123d  2020-01-04      sent
1       ad4943sdz       948ksx123d  2020-01-06  accepted
2      dfdfxf9483       9djjjd9283  2020-01-04      sent
3      dfdfxf9483       9djjjd9283  2020-01-15  accepted
4   ffdfff4234234      lpjzjdi4949  2020-01-06      sent
5     fffkfld9499      993lsldidif  2020-01-06      sent
6     fffkfld9499      993lsldidif  2020-01-10  accepted
7      fg503kdsdd        ofp049dkd  2020-01-04      sent
8      fg503kdsdd        ofp049dkd  2020-01-10  accepted
9      hh643dfert       847jfkf203  2020-01-04      sent
10     r4gfgf2344       234ddr4545  2020-01-06      sent
11     r4gfgf2344       234ddr4545  2020-01-11  accepted

In [4]:
df_sent=fb_friend_requests[fb_friend_requests.action == 'sent']
df_sent

   user_id_sender user_id_receiver        date action
0       ad4943sdz       948ksx123d  2020-01-04   sent
2      dfdfxf9483       9djjjd9283  2020-01-04   sent
4   ffdfff4234234      lpjzjdi4949  2020-01-06   sent
5     fffkfld9499      993lsldidif  2020-01-06   sent
7      fg503kdsdd        ofp049dkd  2020-01-04   sent
9      hh643dfert       847jfkf203  2020-01-04   sent
10     r4gfgf2344       234ddr4545  2020-01-06   sent

In [5]:
df_accepted=fb_friend_requests[fb_friend_requests.action == 'accepted']
df_accepted

   user_id_sender user_id_receiver        date    action
1       ad4943sdz       948ksx123d  2020-01-06  accepted
3      dfdfxf9483       9djjjd9283  2020-01-15  accepted
6     fffkfld9499      993lsldidif  2020-01-10  accepted
8      fg503kdsdd        ofp049dkd  2020-01-10  accepted
11     r4gfgf2344       234ddr4545  2020-01-11  accepted

In [6]:
new_df = pd.merge(df_sent, df_accepted,  how='left', left_on=['user_id_sender','user_id_receiver'], right_on = ['user_id_sender','user_id_receiver'])
new_df

  user_id_sender user_id_receiver      date_x action_x      date_y  action_y
0      ad4943sdz       948ksx123d  2020-01-04     sent  2020-01-06  accepted
1     dfdfxf9483       9djjjd9283  2020-01-04     sent  2020-01-15  accepted
2  ffdfff4234234      lpjzjdi4949  2020-01-06     sent         NaN       NaN
3    fffkfld9499      993lsldidif  2020-01-06     sent  2020-01-10  accepted
4     fg503kdsdd        ofp049dkd  2020-01-04     sent  2020-01-10  accepted
5     hh643dfert       847jfkf203  2020-01-04     sent         NaN       NaN
6     r4gfgf2344       234ddr4545  2020-01-06     sent  2020-01-11  accepted

In [7]:
accepted_count=new_df.groupby(["date_x"]).count().reset_index()
accepted_count

       date_x  user_id_sender  user_id_receiver  action_x  date_y  action_y
0  2020-01-04               4                 4         4       3         3
1  2020-01-06               3                 3         3       2         2

In [8]:
accepted_count["acceptance_rate"] = accepted_count["action_y"]/accepted_count["action_x"]
accepted_count

,date_x,user_id_sender,user_id_receiver,action_x,date_y,action_y,acceptance_rate
0,2020-01-04,4,4,4,3,3,0.750000
1,2020-01-06,3,3,3,2,2,0.666667

In [9]:
result = accepted_count[["date_x","acceptance_rate"]]
result

       date_x  acceptance_rate
0  2020-01-04         0.750000
1  2020-01-06         0.666667

Solution Walkthrough
This solution involves analyzing friend request data to calculate the overall friend acceptance rate by date. The code uses the pandas library to merge and analyze two dataframes, calculate the acceptance rate, and create a new dataframe with the date and corresponding acceptance rate. The final result is a dataframe sorted by date with the acceptance rate.

Understanding The Data
The data is stored in two dataframes: df_sent and df_accepted. The df_sent dataframe contains friend requests with the action labeled as 'sent'. The df_accepted dataframe contains friend requests with the action labeled as 'accepted'. Each dataframe has columns user_id_sender, user_id_receiver, and date.

The Problem Statement
The goal is to calculate the overall friend acceptance rate by date. To do this, we need to merge the df_sent and df_accepted dataframes using the user IDs as the merge keys. Then, we group the merged dataframe by the date, count the number of accepted actions per date, and calculate the acceptance rate. Finally, we create a new dataframe with the date and acceptance rate, sorted by date.

Breaking Down The Code
Import the required libraries:
import pandas as pd
import numpy as np
Create the df_sent dataframe by filtering the fb_friend_requests dataframe for friend requests with the action labeled as 'sent':
df_sent = fb_friend_requests[fb_friend_requests.action == "sent"]
Create the df_accepted dataframe by filtering the fb_friend_requests dataframe for friend requests with the action labeled as 'accepted':
df_accepted = fb_friend_requests[
    fb_friend_requests.action == "accepted"
]
Merge the df_sent and df_accepted dataframes using the pd.merge() function. Use the 'user_id_sender' and 'user_id_receiver' columns as the merge keys and specify a left join:
new_df = pd.merge(
    df_sent,
    df_accepted,
    how="left",
    left_on=["user_id_sender", "user_id_receiver"],
    right_on=["user_id_sender", "user_id_receiver"],
)
Group the merged dataframe (new_df) by the date column and count the number of accepted actions per date. Reset the index to create a new dataframe:
accepted_count = new_df.groupby(["date_x"]).count().reset_index()
Calculate the acceptance rate by dividing the number of accepted actions (action_y) by the total number of sent actions (action_x):
accepted_count["acceptance_rate"] = (
    accepted_count["action_y"] / accepted_count["action_x"]
)
Select only the date and acceptance rate columns from the accepted_count dataframe to create the result dataframe:
result = accepted_count[["date_x", "acceptance_rate"]]
Bringing It All Together
import pandas as pd
import numpy as np

df_sent = fb_friend_requests[fb_friend_requests.action == "sent"]
df_accepted = fb_friend_requests[
    fb_friend_requests.action == "accepted"
]

new_df = pd.merge(df_sent, df_accepted, how='left', left_on=['user_id_sender','user_id_receiver'], right_on = ['user_id_sender','user_id_receiver'])

accepted_count = new_df.groupby(["date_x"]).count().reset_index()
accepted_count["acceptance_rate"] = (
    accepted_count["action_y"] / accepted_count["action_x"]
)

result = accepted_count[["date_x", "acceptance_rate"]]
Conclusion
The code analyzes friend request data to calculate the overall friend acceptance rate by date. It merges two dataframes, counts the number of accepted actions per date, calculates the acceptance rate, and creates a new dataframe with the date and acceptance rate. The final result is a dataframe sorted by date.